.text-color {
  color: rgb(13, 60, 102);
}

body {
  background-image: url("/clouds.jpg");
  background-size: cover; /* or "contain" based on your preference */
  background-position: center center; /* adjust as needed */
  background-repeat: repeat;
}
